{% extends "base.html" %}

{% block PageTitle %}Intro & Goals - OpenHCI 2011{% endblock %}

{% block CustomHead %}
<style>
    article {
        margin-bottom: 50px;
    }
</style>
{% endblock %}

{% block PageContent %}
<section id="pageTitle" >Intro & Goals</section>
<section id="pageContent">
    <article>
        <div class="articleContent">
        <p>
        Human-Computer Interaction (HCI)為近年來相當活躍的資訊學門之一。
        相較於其他專門領域，HCI學門獨特的跨領域特性，
        使得其研究過程需要仰賴高度的跨領域合作與溝通。
        </p>
        <p>
        研究的著眼點不但訴求技術上的創新，更試圖從以人為本的角度解決問題，以創造更佳的使用者經驗。
        本活動希望能夠以推廣HCI學門為主要宗旨，藉由整合台大資訊學群與台科大設計學群的力量，
        從跨領域的溝通與合作當中，探索人類生活空間中與周遭環境、物件或工具的新互動模式，
        期盼參與者能以此概念體察其日常經驗裡的互動缺口，培養動手解決問題的能力，進而尋思更和諧互惠的人機互動遠景。
        </p></div>
    </article>
    <article>
        <div class="articleContent">
        <p>
        參加學員將於活動中更加深入了解 HCI 領域研究，<br>
		從跨領域合作與溝通當中學習到軟硬體互動技術、快速原形製作以及產品設計流程。
		</p>
		<p>
		多達12位各界講師將針對HCI的不同面向做教學與經驗分享，<br>
		於工作坊中從動手中習得的實作經驗將能直接幫助學員開發 HCI 相關的研究構想。
		</p>
		<p>
		學員於工作坊過程中所發展的 HCI 構想將於最後一天成果展中成果發表，並在發表後當天下午互動展覽方式展出，以獲取相關業界、學界人士的建議，並促成學員之間的意見交流。
		</p>
		<p>
		成果展中產出的研究構想與成果將收錄在Proceedings of OpenHCI 2011當中於活動網站公開下載，<br>
		並可能由TA協助成員在活動後進一步發展為具有潛力的學術研究論文或學術展覽，並進行相關發表。
		</p>
        </div>
    </article>
</section>
<div class="clear"></div>
{% endblock %}
