{% extends "base.html" %}

{% block PageTitle %}Registration - OpenHCI 2011{% endblock %}
{% block CustomHead %}
<link href="/2011/css/registration.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/js/registration.js"></script>
{% endblock %}

{% block PageContent %}
<section id="pageTitle" >Registration</section>
<section id="pageContent">
<article>
    <div class="articleTitle">招生時間</div>
    <div class="articleContent regInfo">
        {% if false %}
        6/10 00:00~6/20 23:59開放報名，採先搶先贏制<br>
        招生網頁將於<span style="font-weight: bold; color: #D92F00;">6/10 00:00公布</span><br>
        6/21公布正取與候補名單<br>
        {% endif %}
        正取者需於6/26前繳交保證金1000元<span class="commentStyle">（保證金將於全程參加後全額退還）</span><br>
        候補成功者於6/27公布，6/30前繳費<br>
        繳費資訊會以報名時填寫的聯絡信箱通知<br>
        7/1公布分組名單於網站<br>
        <br>
        關於繳款問題，歡迎寄信至 shuangyu{at}openhci.com<br>
        其他問題，歡迎寄信至 hideys{at}openhci.com
    </div>
</article>
<article>
    <div class="articleTitle">OpenHCI Passport</div>
    <div class="articleContent">
        為服務無法全程參與工作坊 而放棄或來不及報名的同學們<br>
        我們開放其中7場演講 提供持有OpenHCI Passport的學員自由參加<br>
        並只酌收茶水與場地清潔費<br>
        詳細資訊請參考 <a href="/passport/">OpenHCI Passport</a>
    </div>
</article>
<article>
    <div class="articleTitle">學員分組名單</div>
    <div class="articleContent" style="width: 100%; margin-top: 15px;">
        {% for team in teamList %}
        <div class="teamTablePanel">
            <table class="teamTable">
                <tr class="leader">
                    <td>{{ team.leader.name }}</td>
                    <td>{{ team.leader.dept }}</td>
                </tr>
                {% for person in team.member %}
                <tr class="member">
                    <td>{{ person.name }}</td>
                    <td>{{ person.dept }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% if forloop.counter == 4 %}
        <div class="clear"></div>
        {% endif %}
        {% endfor %}
        <div class="clear"></div>
    </div>
</article>
{% if false %}
<article>
    <div class="articleTitle">正取錄取名單</div>
    <div class="articleContent" style="width: 100%;">
        <div class="namelistSection">
	        <table class="namelist">
	        {% for person in namelist %}
	            <tr><td class="personName">{{ person.name }}</td><td class="personDept">{{ person.dept }}</td></tr>
	            {% if person.break %}
	        </table>
        </div>
        <div class="namelistSection">
	        <table class="namelist">
	            {% endif %}
	        {% endfor %}
	        </table>
        </div>
        <div class="clear"></div>
    </div>
</article>
<article>
    <div class="articleTitle">備取錄取名單</div>
    <div class="articleContent" style="width: 100%;">
        <div class="namelistSection">
            <table class="namelist">
            {% for person in sublist %}
                <tr><td class="personName">{{ person.name }}</td><td class="personDept">{{ person.dept }}</td></tr>
                {% if person.break %}
            </table>
        </div>
        <div class="namelistSection">
            <table class="namelist">
                {% endif %}
            {% endfor %}
            </table>
        </div>
        <div class="clear"></div>
    </div>
</article>
<article>
    <div class="articleTitle">招生名額</div>
    <div class="articleContent">
        台大資訊學群24人<br><span class="commentStyle">（包含台大資工系資管系大學部三年級以上、<br>資工所、資管所、網媒所 與 電機所CS組）</span><br>
		台科大工設所16人<br><span class="commentStyle">（包含工設商設系大學部三年級以上、工設所）</span><br>
		其餘系所8人<br><span class="commentStyle">（電機學群其他組別、圖資系、生機系等）</span><br>
		屆時將分為8小隊進行活動
    </div>
</article>
{% endif %}
</section>
<div class="clear"></div>
{% endblock %}
