body {
	background-color:#FFFFFF;/*338cb4*/
	overflow-x:hidden; 
	overflow-y:visible;
	background-position: center top; 
	margin: 0px;
	height:100%;
	width:100%;

	letter-spacing:1px;
	line-height:20px; /*行距*/
	font-family: verdana,"微軟正黑體","Microsoft JhengHei",Helvetica, Arial, Sans-Serif;
}

/*font family*/
@font-face {
  font-family:MenNefer;
  width:bold;
  src: url('../fonts/HelveticaNeueLTPro-Lt_1.otf');
}
/*-------------------------------------------------header--*/
#headbg {
	/*width:100%;
	height:224px;
	background:url(images/openTop1386.jpg);
	margin: 0 auto;*/
	position:absolute; /*absolute*/
	width:100%;
	height:141px;
	background:url(images/openTop1390.jpg);
	z-index:0;
/*
     -moz-box-shadow: 5px 5px 5px #888;
     -webkit-box-shadow: 5px 5px 5px #888;
     box-shadow: 5px 5px 5px #888;
*/
}
#headbg img {
	 width:100%; 
	 height:224px;
}
#openhci img {

	width:700px;
	margin-top:20px;
	margin-left:245px;
	position:absolute; 
	z-index:1;
}

/*-------------------------------------------------menu--*/
#menu {
   	cursor:pointer;
	padding-top:84px;
	z-index:3;	
}		

#nav {
    margin-left:274px;
}

#nav a {
   float:left;
   height:20px;
   width:130px;
   margin-top:8px;
   margin-left:4px;
   padding: 7px 4px 7px 4px;
   
   background-color:#595757;
   color:#FFFFFF;
/*
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
*/
   
/*   
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0 1px;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0 1px;
   box-shadow: #c7c7c7 0px 1px 0 1px;
   text-shadow: #c7c7c7 0 1px 1px;
*/   
   opacity: 0.9;
   -moz-opacity: 0.9;
   filter:alpha(opacity=9);

   vertical-align:middle;
   list-style:none;
   letter-spacing:1px; 
   font-size:11px;
   font-weight:900;
   font-family:MenNefer;

   text-align:center;
   cursor:pointer;
}


#nav a:active {    
   cursor:pointer;
/*
   background-color:#FFF;
   color:#ce4b61;
   box-shadow:inset #006BA9 0px 1px 2px;
   -webkit-box-shadow:inset #006BA9 0px 1px 2px;
   -moz-box-shadow:inset #006BA9 0px 1px 2px;
*/
}

#nav a:hover {
   background-color:#3B3939;
   cursor:pointer;
/*   
   border-bottom: 5px solid #006BA9;
*/
}
a {
	text-decoration: none;
	color:#de8799;
}

/*---------------------------------------------menu----content--*/
#cc {
	-webkit-box-shadow: 0 3px 6px 6px #CCC;
	-moz-box-shadow: 0 3px 6px 6px #CCC;
	box-shadow: 0 3px 6px 6px #CCC;
	width:100%;
	margin-top:54px;
	z-index:0;
}
/*delete by ggm
#homepage { 
	background-color:#FFF;
	font-size:14px;	
	text-align:justify;	
	margin-top:100px;
	position: relative;
	z-index:5;
}*/

#main_content {
    padding-top:20px;
}

#content {
	width:45%;
	float:left;
	margin-left:40px;
     padding-left:18px;
	letter-spacing:1px;
	text-align:justify;
     color:#727171;
     font-size:14px;
}
#content2 {
	width:28%;
	float: left;
	margin-left:45px;
     padding-left:40px;
	letter-spacing:1px;
     font-size:14px;
}

#register_now {
     background-color:#D92F00;
     color:white;
}

a#register_now:link {
     color: white !important;
     background: #D92F00;
     font-size: 18px;
     font-weight: 900;
     padding: 10px 0;
     padding-left: 15px;
     margin-top: 2%;
     width: 60%;
     display: block;
}
a#register_now:hover {
     text-decoration: none !important;
     background: #3B3939;
}



#sponsors {
     text-align: left;
}

#sponsors img {
     padding: 10px 0px 0px 10px;
}

#content3 {
     text-align:justify;	
     font-size:14px;
     width:85%;
     padding-left:18px;
     float:left;
     margin-left:40px;
     letter-spacing:1px;
     line-height:1.5em;
}
#content4 {
     width:80%;
     padding:0px 30px 150px 30px;	
     float:left;
     margin-left:40px;
}
#introContent, #passportContent,#aboutContent,#regisContent,#ProgramContent {
     text-align:justify;	
     font-size:14px;
     width:90%;
     padding-left:18px;
     padding-bottom:100px;
     float:left;
     margin-left:40px;
     letter-spacing:0px;
     color:#727171;
     line-height:1.5em;
}

.description2 {
     margin-bottom:30px;
     color:#727171;
}

/*-------------------------------------------Committee-----*/
#commi01,#commi02,#commi03 {
     float: left;
     width:30%;
     margin-left:2px;
     margin-right:20px;
     text-align:justify;
     font-size:13px;
     letter-spacing:0px;
}
#commi01 a {
     color:#896239;
     padding-right:10px;
}
#commi02 a {
     color:#896239;
     padding-right:10px;
}
#commi03 a {
     color:#896239;
     padding-right:10px;
}
/*-------------------------------------------Resgister-----*/
.desTitle {
     font-family:MenNefer,"微軟正黑體","Microsoft JhengHei";
     color:#000;
     font-size:20px;
     margin-top:20px;
     margin-bottom:10px;
     border-bottom:2px solid #007DC3;
     letter-spacing:2px;
     text-transform:uppercase;
}
/*---------------------------------------------program---表格--*/
.programPP {
     float: left;
     padding-right:15px;
     margin-left:5px;
     margin-top:50px;
     width:49%;
}

.day td {
     /*background-color:#CE4B61;*/
     /*background:url(images/grid3.png);*/
     background-color:#0099d2;
     color: white;
     /*border: 2px dotted #1390B7;*/
     /*border-radius:5px;*/

     font-weight:bold;
     font-size:14px;

     line-height:1.2em;
     margin:20px 30px 20px 30px ;
     padding:10px 10px 10px 10px;


}

/*short - 粉紅 */
.addressTitleshort {	
     color:#896239;
}
.shortKey td {
     border-bottom: 1px dotted #000000;
}
.addressTitle td {
     border-bottom: 1px dotted #000000;
}
/*演講時間-綠*/
.addressTime {
     color:#44A69F;
     margin-left:80px;
}
.addressTalkTime {
     color:#FFF;
     margin-left:10px;
}
/*演講框*/
.speaker td {
     border-bottom: 1px dotted #000000;
}
/*演講題目-藍*/
.addressTitleName {
     color:#FFFFFF;/*0071B9 藍*/
     font-size:16px;
     margin-right:5px;
     padding-left:10px;
}
.addressBB td {
     background-color:#535353;/*CE4B61 粉紅*/
     padding:3px;
     text-align:left;
}
.speaker td {
     width:70%;
}
.speakerInfo {
     text-align:right;
}
.speakerImage img {
     border-radius: 8px;
     margin-top:8px;
     margin-bottom:8px;
     box-shadow:0px 0px 5px #D7D7D7;
}
.addressPassport td {
     text-align:left;
     background-color:#D7D7D7;
     padding-left:10px;
}
.clear {
     clear:left; 
     /*border-bottom:1px solid #1390B7;*/
     margin-bottom:20px;
     background-color:#FFFFFF;
     height:2px;
     width:100%;
}
/*-------------------------------------------------footer--*/
#footer {
     font-size:12px;
     text-align:right;
     /*background-color:#D7D7D7;*/
     border-top: 1px dotted #3D3D3D;
     background-color:#F7F7F8;
     padding: 6px 20px 6px 10px;

     opacity: 0.4;
     -moz-opacity: 0.4;
     filter:alpha(opacity=4);

     position:fixed;
     left:0px;
     bottom:0px;
     width:98%;
     z-index:2; 

}
#footer:hover {
     opacity: 1;
     -moz-opacity: 1;
     filter:alpha(opacity=1);
}
