{% extends "base.html" %}

{% block PageTitle %}About Us - OpenHCI 2011{% endblock %}

{% block CustomHead %}
<link href="/2011/css/about.css" rel="stylesheet" type="text/css">
<script src="/2011/js/about.js" type="text/javascript"></script>
{% endblock %}

{% block PageContent %}
<div id="pageTitle">About Us</div>
<div class="members" id="pageContent">
    <div style="float:left; width: 45%;">
	    <section class="chair">
	        <div class="chairTitle">Program co-Chairs</div>
	        <ul>
	            <li data-order="1:0"><span class="name">梁容豪</span> | <span class="school">中央研究院 資訊科學研究所 研究助理</span> | <span class="teacher">指導教授 楊得年老師</span><br>
	            <span class="name">　　　</span> | <span class="school">台灣大學資訊網路與多媒體研究所 博士班</span> | <span class="teacher">指導教授 陳炳宇老師</span></li>
	            <li data-order="1:1"><span class="name">賴忠平</span> | <span class="school">台灣科技大學工業設計所 碩士班</span> | <span class="teacher">指導教授 陳玲鈴老師</span></li>
	        </ul>
	        <div class="gallery">
	            <img data-order="1:0" src="/images/person/howie.jpg">
	            <img data-order="1:1" src="/images/person.png">
	        </div>
	    </section>
	    <section class="chair">
	        <div class="chairTitle">Demo co-Chairs</div>
	        <ul>
	            <li data-order="2:0"><span class="name">羅聖傑</span> | <span class="school">台灣大學資訊網路與多媒體研究所  博士班</span> | <span class="teacher">指導教授 陳炳宇老師</span></li>
	            <li data-order="2:1"><span class="name">李泓其</span> | <span class="school">台灣大學資訊工程研究所 博士班</span> | <span class="teacher">指導教授 許永真老師</span></li>
	        </ul>
	        <div class="gallery">
	            <img data-order="2:0" src="/images/person.png">
	            <img data-order="2:1" src="/images/person.png">
	        </div>
        </section>
	    <section class="chair">
	        <div class="chairTitle">Studio co-Chairs</div>
	        <ul>
	            <li data-order="3:0"><span class="name">江政達</span> | <span class="school">台灣科技大學工業設計所 博士班</span> | <span class="teacher">指導教授 梁容輝老師</span></li>
	            <li data-order="3:1"><span class="name">葉銘泓</span> | <span class="school">台灣科技大學工業設計所 碩士班</span> | <span class="teacher">指導教授 陳玲鈴老師</span></li>
	        </ul>
	        <div class="gallery">
	            <img data-order="3:0" src="/images/person.png">
	            <img data-order="3:1" src="/images/person.png">
	        </div>
	    </section>
	    <section class="chair">
	        <div class="chairTitle">Sponsorship</div>
	        <ul>
	            <li data-order="4:0"><span class="name">何宇傑</span> | <span class="school">台灣大學資訊工程研究所 博士班</span> | <span class="teacher">指導教授 許永真老師</span></li>
	            <li data-order="4:1"><span class="name">顏羽君</span> | <span class="school">台灣大學資訊工程研究所 碩士班</span> | <span class="teacher">指導教授 傅立成老師</span></li>
	        </ul>
	        <div class="gallery">
	            <img data-order="4:0" src="/images/person.png">
	            <img data-order="4:1" src="/images/person.png">
	        </div>
	    </section>
	    <section class="chair">
	        <div class="chairTitle">Web design and Web services</div>
	        <ul>
                    <li data-order="5:0"><span class="name">蔡典哲</span> | <span class="school">台灣大學資訊網路與多媒體研究所 碩士班</span> | <span class="teacher">指導教授 陳彥仰老師</span>
                        <br><a href="http://about.me/sodastsai/" target="_blank">http://about.me/sodastsai/</a>
	            </li>
	        </ul>
	        <div class="gallery">
	            <img data-order="5:0" src="/images/person/sodas.png">
	        </div>
            </section>
        </div>
        <div style="float:right; width: 45%;">
	    <section class="chair">
	        <div class="chairTitle">Graphic design</div>
	        <ul>
	            <li data-order="6:0"><span class="name">銀子奇</span> | <span class="school">台灣科技大學工業設計所 碩士班</span> | <span class="teacher">指導教授 董方武老師</span></li>
                    <li data-order="6:1"><span class="name">蔡雙伃</span> | <span class="school">台灣科技大學工業設計所 碩士班</span> | <span class="teacher">指導教授 唐玄輝老師</span></li>
                </ul>
	        <div class="gallery">
                    <img data-order="6:0" src="/images/person.png">
                    <img data-order="6:1" src="/images/person.png">
	        </div>
	    </section>
	    <section class="chair">
	        <div class="chairTitle">Volunteer</div>
	        <ul>
	            <li data-order="7:0"><span class="name">蕭喬尹</span> | <span class="school">台灣大學資訊工程研究所 碩士班</span> | <span class="teacher">指導教授 許永真老師</span></li>
	        </ul>
	        <div class="gallery">
	            <img data-order="7:0" src="/images/person.png">
	        </div>
	    </section>
	    <section class="chair">
	        <div class="chairTitle">Teaching Assistants</div>
	        <ul>
                    <li data-order="9:0"><span class="name">黃大源</span> | <span class="school">台灣大學資訊網路與多媒體研究所 博士班</span> | <span class="teacher">指導教授 洪一平老師</span></li>
                    <li data-order="9:1"><span class="name">黃怡靜</span> | <span class="school">台灣大學資訊網路與多媒體研究所 博士班</span> | <span class="teacher">指導教授 許永真老師</span></li>
                    <li data-order="9:2"><span class="name">蘇兆懷</span> | <span class="school">台灣大學資訊管理研究所 碩士班</span> | <span class="teacher">指導教授 陳炳宇老師</span></li>
	        </ul>
	        <div class="gallery">
	            <img data-order="9:0" src="/images/person.png">
                    <img data-order="9:1" src="/images/person.png">
                    <img data-order="9:2" src="/images/person.png">
	        </div>
            </section>
            <section class="chair">
	        <div class="chairTitle">General affairs</div>
	        <ul>
	            <li data-order="8:0"><span class="name">蔡雙伃</span> | <span class="school">台灣科技大學工業設計所 碩士班</span> | <span class="teacher">指導教授 唐玄輝老師</span></li>
	        </ul>
	        <div class="gallery">
	            <img data-order="8:0" src="/images/person.png">
	        </div>
            </section>
	    <section class="chair">
            <div class="chairTitle">Steering Committees</div>
            <ul>
                <li data-order="0:1"><span class="name">余能豪</span> | <span class="school">台灣大學資訊網路與多媒體研究所 資訊工程學博士</span> | <span class="teacher">指導教授 洪一平老師</span>
                    <br><a href="http://www.facebook.com/jonesfish" target="_blank">http://www.facebook.com/jonesfish</a></li>
                <li data-order="0:0"><span class="name">葛如鈞</span> | <span class="school">台灣大學資訊網路與多媒體研究所 博士班</span> | <span class="teacher">指導教授 洪一平老師</span></li>
                <li data-order="0:2"><span class="name">蔡文傑</span> | <span class="school">台灣大學資訊網路與多媒體研究所 博士班</span> | <span class="teacher">指導教授 許永真老師</span>
                <br><a href="http://www.facebook.com/joe.wctsai" target="_blank">http://www.facebook.com/joe.wctsai</a></li>
                <li data-order="0:3"><span class="name">鄭鎧尹</span> | <span class="school">台灣大學資訊網路與多媒體研究所 博士班</span> | <span class="teacher">指導教授 陳炳宇老師</span>
                    <br><a href="http://www.cmlab.csie.ntu.edu.tw/~keynes/" target="_blank">http://www.cmlab.csie.ntu.edu.tw/~keynes/</a></li>
            </ul>
            <div class="gallery">
                <img data-order="0:0" src="/images/person.png">
                <img data-order="0:1" src="/images/person.png">
                <img data-order="0:2" src="/images/person.png">
                <img data-order="0:3" src="/images/person/keynes.png">
            </div>
        </section>
	</div>
</div>
<div class="clear">
</div>
{% endblock %}
