{% extends "base.html" %}

{% block PageTitle %}Passport - OpenHCI 2011{% endblock %}
{% block CustomHead %}
<link href="/2011/css/passport.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block PageContent %}
<section id="pageTitle">Passport</section>
<section id="pageContent">
<article>
    <div class="articleContent"><p>
        為服務無法全程參與工作坊 而放棄或來不及報名的同學們<br>
        我們開放其中7場演講 提供持有OpenHCI Passport的學員自由參加<br>
        並只酌收茶水與場地清潔費
    </p></div>
</article>
<article>
    <div class="articleTitle">參加辦法</div>
    <div class="articleContent"><p>
        報名網站 <a href="http://goo.gl/Rn9KK" target="_blank">http://goo.gl/Rn9KK</a><br>
        可於網站上報名參加 並匯款完成後<br>
        並於每場演講開始前10分鐘持 學生證 於服務櫃檯登記入場<br>
        Passport發放60張額滿為止 為避免爭議 不開放候補 敬請見諒<br>
        (抱歉本活動不對業界開放)
    </p></div>
</article>
<article>
    <div class="articleTitle">報名辦法</div>
    <div class="articleContent"><p>
        <span class="strong">請注意 現場不收費</span><br>
        <br>
        請先至報名網站（<a href="http://goo.gl/Rn9KK" target="_blank">http://goo.gl/Rn9KK</a>）登記場次後<br>
        再於 <span class="strong">7/1 晚上11:59前</span> 依下列敘述繳費：
        <pre>
-----------------------------------------------------------
帳號：華南銀行代號 008 帳戶 133-20-016835-1
金額：台大/台科大學生特價 新台幣 200元 整
             外校學生 新台幣 300 元整

轉帳完成後，請來信至 shuangyu@openhci.com
信件標題：「2011 OpenHCI Passport–姓名」
信件內容：姓名、電話、匯款帳號後五碼
-----------------------------------------------------------
        </pre>
        匯款信件將作為報名成功與否依據<br>
        對於不完整信件內容 OpenHCI 將保有最終裁量權<br>
        報名失敗部分如已匯款 OpenHCI 亦將全額退費（但不含轉帳手續費）
    </p></div>
</article>
</section>
{% endblock %}
