html{height:100%}
body 
{
	background-color:#FFFFFF;
	margin: 0px;
	height:100%;
	width:100%;
	text-align:center;
	letter-spacing:1px;
	line-height:20px;
	font-family: verdana,"微軟正黑體","Microsoft JhengHei",Helvetica, Arial, Sans-Serif;
}
a
{
	text-decoration: none;
}
#wrap
{
	height:100%;
	width:1024px;
	margin: 0px auto;
    padding-bottom:210px;
}

@font-face {
  font-family:Helvetica;
  src: url('2013/fonts/HelveticaNeueLTPro-Lt_1.otf');
}
/*-------------------------------------------------header--*/
#head {
	position:absolute;
	width:1024px;
	height:230px;
	z-index:0;
}
/*-------------------------------------------------menu--*/
#menu 
{
	position: absolute;
	padding-top:178px;
	z-index:9;	
}
#menu a {
   float:left;
   height:30px;
   cursor:pointer;
}
#btn1
{
	height:30px;
	width:60px;
	border:0px;
	margin-left: 36px;
}
#btn2
{
	height:30px;
	width:120px;
	border:0px;
	margin-left: 16px;
}
#btn3
{
	height:30px;
	width:86px;
	border:0px;
	margin-left: 14px;
}
#btn4
{
	height:30px;
	width:115px;
	border:0px;
	margin-left: 14px;
}
#btn5
{
	height:30px;
	width:80px;
	border:0px;
	margin-left: 14px;
}
#btn6
{
	height:30px;
	width:80px;
	border:0px;
	margin-left: 13px;
}
/*-------------------------------------------------content--*/
#main_content 
{
    padding-top:20px;
}
.section_head
{
	height:25px;
	margin-top:30px;
	background-color:#8CC63F;
	font-family:Helvetica;
	font-size:14px;
	color:White;
	line-height: 25px;
	text-align:center;
	text-transform:uppercase;
}
#section1
{
	float:left;
	margin-top:200px;
	margin-left:60px;
	width:600px;
}
#section2
{
	float:left;
	margin-top: 200px;
	margin-left:30px;
	width:280px;
}
#introContent, #passportContent,#aboutContent,#regisContent,#ProgramContent {
     text-align:left;	
     font-size:14px;
     padding-bottom:30px;
     float:left;
	 margin-top:200px;
     letter-spacing:0px;
     line-height:1.5em;
}
/*-------------------------------------------------content--*/
.plain
{
	text-align:left;
	font-size:14px;
	color: #333333;
}
.plain a,a:visited{
	color: #333333;
}
.plain a:hover{
	color: #8CC63F;
}
/*-------------------------------------------------program--*/
#program
{
	width:900px;
	margin:0px auto;
}
.day
{
	vertical-align:middle;
	margin-top:10px;
}
.dayHead
{
	width:110px;
	padding:15px;
	text-align:center;
	font-size:14px;
	font-style:italic;
	color:White;
	background-color:#8CC63F;
}
.dayContent td
{
	padding:3px 15px 3px 10px;
	border-bottom:1px solid #B3E860;
}
.dayTime
{
	width:100px;
	font-style:italic;
	color:#8CC63F;
}
.dayTimeBold
{
	width:100px;
	font-style:italic;
	font-weight:bold;
	color:#8CC63F;
}
.dayTopic
{
	color:#4D4D4D;
}
.dayTopicBold
{
	width:200px;
	font-weight:bold;
	color:#EF9103;
}
.dayDetail
{
	width:280px;
	color:#333333;
}
.dayFoot
{
	text-align:right;
	color:#333333;
	height:30px;
}
.dayFoot a,a:visited{
	color: #333333;
}
/*-------------------------------------------------introduction--*/
#introduction
{
	height:750px;
	width:800px;
	margin:0px auto;
	text-align:left;
	color:#333333;
}
/*-------------------------------------------------about--*/
#about
{
	width:960px;
	margin:0px auto;
	text-align:left;
	color:#333333;
}
.department
{
	padding-left:5px;
	padding-right:5px;
}
.department a
{
	color:#EF9103;
}
/*-------------------------------------------------footer--*/
#footer
{
	height:210px;
	background-color:#8CC63F;
	text-align:center;
	font:12px Microsoft JhengHei,微軟正黑體;
	color:White;
	clear:both;
	z-index:99;	
}