html
{
	height:100%
}
body 
{
	background-color:#CCCCCC;
	margin: 0px;
	height:100%;
	width:100%;
	text-align:center;
	letter-spacing:1px;
	line-height:20px;
	font-family: verdana,"微軟正黑體","Microsoft JhengHei",Helvetica, Arial, Sans-Serif;
}
a
{
	text-decoration: none;
}
#wrap
{
	height:100%;
	width:1024px;
	margin: 0px auto;
    padding-bottom:240px;
}
#shadow
{
	width: 1024px;
	background-color:#FFFFFF;
    border: solid 1px #999999;
	box-shadow:1px 1px 12px 0px rgba(20%,20%,20%,0.5);
	-moz-box-shadow:1px 1px 12px 0px rgba(20%,20%,20%,0.5);
	-webkit-box-shadow:1px 1px 12px 0px rgba(20%,20%,20%,0.5);
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=90, Color='#999999'),
			progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=270, Color='#999999');
}

@font-face {
  font-family:Helvetica;
  src: url('2013/fonts/HelveticaNeueLTPro-Lt_1.otf');
}
/*-------------------------------------------------header--*/
#head {
	width:1024px;
	height:230px;
	z-index:0;
}
/*-------------------------------------------------menu--*/
#menu 
{
	margin-top:-52px;
	z-index:9;	
}
#menu a {
   float:left;
   height:30px;
   cursor:pointer;
}
#btn1
{
	height:30px;
	width:60px;
	border:0px;
	margin-left: 36px;
}
#btn2
{
	height:30px;
	width:120px;
	border:0px;
	margin-left: 16px;
}
#btn3
{
	height:30px;
	width:86px;
	border:0px;
	margin-left: 14px;
}
#btn4
{
	height:30px;
	width:115px;
	border:0px;
	margin-left: 14px;
}
#btn5
{
	height:30px;
	width:80px;
	border:0px;
	margin-left: 14px;
}
#btn6
{
	height:30px;
	width:80px;
	border:0px;
	margin-left: 13px;
}
/*-------------------------------------------------content--*/
.plain
{
	padding-left:10px;
	padding-right:10px;
	text-align:justify;
	font-size:14px;
	color: #333333;
}
.plain a, .plain a:visited{
	color: #333333;
}
.plain a:hover{
	color: #8CC63F;
}
.heavygGreen
{
	font-weight:bold;
	color:#8CC63F;
}
.heavyOrange
{
	font-weight:bold;
	color:#EF9103;
}
/*-------------------------------------------------content--*/
#main_content 
{
    margin-top:50px;
}
.section_head
{
	height:25px;
	background-color:#8CC63F;
	font-family:Helvetica;
	font-size:14px;
	color:White;
	line-height: 25px;
	text-align:center;
	text-transform:uppercase;
}
.section
{
	margin-top:30px;
}
#homeContent, #introContent, #passportContent,#aboutContent,#regisContent,#ProgramContent {
     text-align:left;	
     font-size:14px;
     padding-bottom:30px;
     float:left;
     letter-spacing:0px;
     line-height:1.5em;
}
/*-------------------------------------------------home--*/
#home
{
	width:900px;
	margin:0px auto;
}
#section1
{
	float:left;
	width:600px;
}
#section2
{
	float:left;
	margin-left:20px;
	width:280px;
}
/*-------------------------------------------------program--*/
#program
{
	width:900px;
	margin:0px auto;
}
.day
{
	vertical-align:middle;
	margin-bottom:10px;
}
.dayHead
{
	width:105px;
	padding:15px;
	text-align:center;
	font-size:14px;
	font-style:italic;
	color:White;
	background-color:#8CC63F;
}
.dayContent td
{
	padding:3px 10px 3px 10px;
	border-bottom:1px solid #B3E860;
}
.dayRoom
{
	border-top:0px;
	color:White; 
	text-align:center; 
	background-color:#8CC63F
}
.dayTime
{
	width:120px;
	font-style:italic;
	color:#8CC63F;
}
.dayTimeBold
{
	width:120px;
	font-style:italic;
	font-weight:bold;
	color:#8CC63F;
}
.dayTopic
{
	width:205px;
	color:#4D4D4D;
}
.dayTopicBold
{
	width:205px;
	font-weight:bold;
	color:#EF9103;
}
.dayDetail
{
	width:285px;
	color:#333333;
}
.dayNote
{
	text-align:right;
	font-size:12px;
	color:#4D4D4D;
}
.dayFoot
{
	text-align:right;
	color:#333333;
	height:30px;
}
.dayFoot a, .dayFoot a:visited{
	color: #333333;
}
.dayFoot a:hover{
	color: #8CC63F;
}
/*-------------------------------------------------introduction--*/
#introduction
{
	height:560px;
	width:650px;
	margin:0px auto;
	text-align:left;
	color:#333333;
}
/*-------------------------------------------------registration--*/
#registration
{
	height:560px;
	width:650px;
	margin:0px auto;
	text-align:left;
}
#regisContent
{
	width:650px;
}
#redLink, #redLink:visited
{
	text-decoration:blink;
	height:15px;
	border: solid 1px red;
	color: red;
}
#redLink:hover{
	color: white;
	background-color:Red;
}
/*-------------------------------------------------passport--*/
#passport
{
	height:560px;
	width:650px;
	margin:0px auto;
	text-align:left;
	color:#333333;
}
#passportContent
{
	width:650px;
}
/*-------------------------------------------------about--*/
#about
{
	width:900px;
	margin:0px auto;
	text-align:left;
	vertical-align:middle;
	color:#4D4D4D;
}
.description table
{
	border:0px;
	margin-top:10px;
	width:440px;
}
.description td
{
	font-size:13px;
	padding:5px 0px 5px 2px;
}
.description img
{
	border:0px;
	padding-top:5px;
	padding-right:5px;
}
.commName
{
	font-size:14px;
	color:#F15A24;
}
/*-------------------------------------------------footer--*/
#footer
{
	height:240px;
	background-color:#8CC63F;
	text-align:center;
	font:12px Microsoft JhengHei,微軟正黑體;
	color:White;
	clear:both;
	z-index:99;	
}
.sponsorArea
{
	width:700px;
	float:left;
	margin: 20px 0px 10px 200px;
}
.contactArea
{
	 width:1024px; 
	 float:left;
}
.sponsor1
{
	float:left;
	width:210px; 
	margin-left:20px;
}
.sponsor2
{
	float:left;
	width:150px;
}
.sponsor3
{
	float:left;
	width:100px;
}
.footerSponsor
{
	 padding:8px 0px 8px 0px;
}
#footerEnv
{
	border:0px;
	vertical-align:text-bottom;
	padding:0px;
}
#footer a, #footer a:visited
{
	color: white;
}
#footer a:hover{
	color: #F15A24;
}