body {
	background-color:#FFFFFF;
	overflow: auto;
	font-family: verdana, "微軟正黑體","Microsoft JhengHei",Helvetica, Arial, Sans-Serif;
}

table{
	margin: -140px auto 100px auto;
}

td{
	padding: 10px 0px 10px 0px;
	vertical-align: top;
}

div{
	text-align: center;
}

img{
	
	margin: 20px;

	width: 40%;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.coming_2013{
	margin-top: -80px;
}

.coming_2013 img{
	width: 70%;
}